.example {
  background-color: #eaeaea;
}

.example__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__subtitle {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example-slider__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example-slider__subtitle {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example-cost__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
