.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 17px 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-image {
  margin: 0 57px 0 0;
}

.nav-list__link {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.header__nav {
  display: none;
}
