.hero__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.hero__subtitle {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

