.catalog__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.catalog__item-heading {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.catalog__item-terms {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__item-description {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__item-link {
  background-color: #68b738;
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 109px;
}

.catalog-add__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog-add__subtitle {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-add__show {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 10px 94px;
}
