.program__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program-form__text {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
