.about-products {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $grey-9;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.about-products__container {
  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }
}

.about-products__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0 0 49px 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 37px;
    padding-right: 79px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 73px;
    padding: 0;
  }
}

.about-products__item {
  display: flex;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 245px;
    height: 280px;
    gap: 31px;
    position: relative;
    margin: 0;
    counter-increment: num;

    &--leaf {
      &::before {
        content: "1";
        position: absolute;
        z-index: -1;
        bottom: 90px;
        left: 119px;
        width: 70px;
        height: 228px;
        font-family: "Oswald", "Arial", sans-serif;
        font-size: 281.07px;
        line-height: 281.07px;
        color: $grey;
      }
    }

    &--powder {
      &::before {
        content: "2";
        position: absolute;
        z-index: -1;
        bottom: 90px;
        left: 119px;
        width: 70px;
        height: 228px;
        font-family: "Oswald", "Arial", sans-serif;
        font-size: 281px;
        line-height: 281px;
        color: $grey;
      }
    }

    &--cutlery {
      &::before {
        content: "3";
        position: absolute;
        z-index: -1;
        bottom: 90px;
        left: 119px;
        width: 70px;
        height: 228px;
        font-family: "Oswald", "Arial", sans-serif;
        font-size: 281.07px;
        line-height: 281.07px;
        color: $grey;
      }
    }

    &--clock {
      &::before {
        content: "4";
        position: absolute;
        z-index: -1;
        bottom: 90px;
        left: 119px;
        width: 70px;
        height: 228px;
        font-family: "Oswald", "Arial", sans-serif;
        font-size: 281.07px;
        line-height: 281.07px;
        color: $grey;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.about-products__title {
  @include font(36px, 40px, $black, 400);
  font-family: $fontSecondary;
  margin: 0 0 40px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 70px;
  }
}

.about-products__subtitle {
  @include font(14px, 18px, $grey-6, 400);
  margin: 0;
  padding: 0;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.about-products__wrapper {
  background-color: $green;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}
