
.about-products__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.about-products__item {
  display: flex;
  gap: 20px;

  &:last-child {
    margin: 0 0 53px 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    max-width: 249px;
    gap: 37px;
    padding: 40px 26px 57px 0;
  }
}

.about-products__title {
  @include font(36px, 40px, $black, 400);
  font-family: $fontSecondary;
  margin: 0 0 40px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.about-products__subtitle {
  @include font(14px, 18px, $grey-6, 400);
  margin: 0;
  padding: 0;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.about-products__wrapper {
  background-color: $green;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}
