.additional {
  overflow: hidden;
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 22px 0;
  }
}

.additional__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
  }
}

.additional__title {
  @include font(24px, 24px, $black, 400);
  font-family: $fontSecondary;
  margin: 0 0 34px 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100vw;
    background-color: $green;
    top: 13px;
    left: 88%;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 77px 37px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      width: 100vw;
      height: 2px;
      margin-top: 2px;
      right: 106%;
      background: #68b738;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100vw;
      height: 2px;
      margin-top: 2px;
      left: 56%;
      background: #68b738;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 77px 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100vw;
      height: 2px;
      margin-top: 2px;
      left: 42%;
      background: #68b738;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100vw;
      height: 2px;
      margin-top: 2px;
      right: 104%;
      background: #68b738;
      z-index: -1;
    }
  }
}

.additional__item-heading {
  @include font(16px, 16px, $grey-7, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    min-width: 161px;
  }
}

.additional__item-terms {
  @include font(14px, 14px, $grey-6, 400);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 131px;
    padding: 0;
  }
}

.additional__item-description {
  @include font(14px, 14px, $grey-6, 400);
  margin: 0;
  min-width: 37px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    min-width: 42px;
    text-align: end;
  }
}

.additional__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  margin: 0 0 35px 0;
  padding: 13px 0 0 0;
  border-top: 1px solid $grey-3;

  @media (min-width: $tablet-width) {
    padding: 26px 0 28px;
    gap: 26px;
    border: 1px solid $grey-3;
    margin: 0 0 66px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    padding: 0;
    border: 0;
    gap: 0;
  }
}

.additional__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $grey-3;
  padding: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    padding: 0 38px 28px 38px;
    row-gap: 25px;

    &:last-child {
      border: 0;
      padding: 0 38px;
    }

    @media (min-width: $desktop-width) {
      &:first-child {
        border-top: 1px solid $grey-3;
      }
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    max-width: 896px;
    gap: 40px;
    align-items: center;
    padding: 15px 0 17px 0;

    &:last-child {
      border-bottom: 1px solid $grey-3;
      padding: 13px 0 16px 0;
    }
  }
}

.additional__item-descriptions {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 610px;
    padding: 0;
    align-items: center;
    column-gap: 165px;
    justify-content: unset;
  }
}

.additional__item-list {
  margin: 0;
}

.additional__item-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    gap: 31px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 285px;
    gap: 112px;
    justify-content: flex-start;
  }
}
