.catalog-add__title {
  @include font(16px, 20px, $black-2, 400);
  font-family: $fontSecondary;
}

.catalog-add__subtitle {
  @include font(12px, 16px, $grey-6, 400);
}

.catalog-add__show {
  @include font(16px, 20px, $grey-6, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $grey;
  padding: 10px 94px;
}
