.catalog-preview {
  padding: 0 20px;
}

.catalog-preview__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-preview__item {
  padding: 24px 20px 22px 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-preview__item-title {
  @include font(24px, 37px, $black, 400);
  font-family: $fontSecondary;
  margin: 0 52px 0 91px;
  position: absolute;
  align-self: center;
  text-transform: uppercase;
}

.catalog-preview__item-subtitle {
  @include font(14px, 18px, $dark-gray, 400);
  margin: 0 0 19px 0;
  padding: 22px 0 23px 0;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-preview__item-link {
  @include font(16px, 16px, $black, 400);
  font-family: $fontSecondary;
  text-decoration: none;
  text-transform: uppercase;
}

.xxx {
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
