.catalog-add {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 13px;
  position: relative;
  padding: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 39px 0;
  }
}

.catalog-add__title {
  @include font(16px, 20px, $black-2, 400);
  font-family: $fontSecondary;
  margin: 0 0 8px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 23px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 10px 23px 10px;
  }
}

.catalog-add__subtitle {
  @include font(12px, 16px, $grey-6, 400);
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 87px 0;
  }
}

.catalog-add__text {
  @media (min-width: $tablet-width) {
    padding: 0 79px;
    text-align: center;
    flex: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px;
  }
}

.catalog-add__show {
  @include font(16px, 20px, $grey-6, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $grey;
  padding: 10px 95px;

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    padding: 10px 39px;

    &:hover {
      background-color: $grey-2;
    }
  }
}

.catalog-add__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.catalog-add__image {
  margin: 0 0 23px 0;

  @media (min-width: $tablet-width) {
    margin: 52px 0 49px 0;
  }
}
