
.catalog-preview__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-preview__item {
  padding: 24px 20px 22px 20px;
  background-color: $grey;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-preview__wrapper {
  display: flex;
  column-gap: 19px;
  align-items: center;
}


.catalog-preview__wrapper-image {
  background-color: $green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  flex-shrink: 0;
  align-self: flex-start;
}

.catalog-preview__item-image {
  position: absolute;
  display: block;
  max-width: unset;

  &--cat {
    width: 36px;
    height: 50px;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--panther {
    width: 67px;
    height: 28px;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.catalog-preview__item-title {
  @include font(24px, 37px, $black, 400);
  font-family: $fontSecondary;
  margin: 0 0 22px;
  align-self: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-preview__item-description {
  @include font(14px, 18px, $grey-6, 400);
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.catalog-preview__item-link {
  @include font(16px, 16px, $black, 400);
  font-family: $fontSecondary;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  border-top: 1px solid $grey-5;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
