.catalog-preview {
  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 71px 0;
  }
}


.catalog-preview__list {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 45px;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
    margin-top: 41px;
  }
}

.catalog-preview__item {
  padding: 24px 20px 22px 20px;
  background-color: $grey;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 74px 316px 60px 52px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 61px 61px 52px;
    max-width: 570px;
    margin-bottom: 0;
  }
}

.catalog-preview__wrapper {
  display: flex;
  column-gap: 21px;
  align-items: center;
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin: 0 0 41px 0;
    column-gap: 62px;
  }
}


.catalog-preview__wrapper-image {
  background-color: $green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  flex-shrink: 0;
  align-self: flex-start;


  @media (min-width: $tablet-width) {
    position: absolute;
    right: 61px;
    top: 51%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    transform: unset;
    width: 100px;
    height: 100px;
    top: 2px;
    right: unset;
  }
}

.catalog-preview__item-image {
  position: absolute;
  display: block;
  max-width: unset;

  &--cat {
    top: -3px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      top: -7%;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
    }
  }

  &--panther {
    width: 67px;
    height: 28px;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: -35px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      left: -16px;
    }
  }
}

.catalog-preview__item-title {
  @include font(24px, 37px, $black, 400);
  font-family: $fontSecondary;
  margin: 0;
  align-self: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-preview__item-description {
  @include font(14px, 18px, $grey-6, 400);
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 50px 0;
    flex: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
  }
}

.catalog-preview__item-link {
  @include font(16px, 16px, $black, 400);
  font-family: $fontSecondary;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  border-top: 1px solid $grey-5;
  padding-top: 15px;
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border: 0;
    font-size: 20px;
    line-height: 30px;
    gap: 25px;
    padding: 0;
    width: fit-content;
  }

  &:active {
    opacity: 0.2;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      .catalog-preview__icon-line {
        width: 26px;
      }
    }
  }
}

.catalog-preview__icon {
  display: inline-flex;
  align-items: center;
  height: 24px;
  vertical-align: top;

  &:active {
    svg {
      opacity: 0.3;
    }
  }
}

.catalog-preview__icon-line {
  width: 18px;
  transition: all 0.3s ease;

  &:active {
    opacity: 0.3;
  }
}

.catalog-preview__text {
  max-width: 110px;
}
