.contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    position: relative;
    z-index: 1;
    background-color: $grey;
  }
}

.contacts__container {
  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    z-index: 4;
    grid-area: 1/-1;
    display: flex;
    align-items: center;
    pointer-events: none;
    background: 0;

    &.middle-container {
      padding: 92px 0 111px;
    }
  }
}

.contacts__text-container {
  display: flex;
  padding: 27px 0 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 51px 40px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    gap: 87px;
    margin: 0;
    background-color: #ffffff;
    padding: 50px 78px 56px 79px;
    pointer-events: auto;
  }
}

.contacts__title {
  @include font(16px, 20px, $black-2, 400);
  font-family: $fontSecondary;
  margin: 0;
  text-transform: uppercase;
  flex: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 171px;
    flex: 0;
    padding-top: 11px;
  }
}

.contacts__text {
  @include font(14px, 20px, $grey-6, 400);
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: end;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    padding-top: 8px;
    align-self: flex-start;
  }
}

.contacts__texts {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 160px;
    row-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
}


.contacts__map {
  width: 100%;
  height: 342px;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / -1;
    height: 100%;
  }
}
