.contacts-form {
  border: 0;
  margin: 0;
  padding: 0;
}

.contacts-form__legend {
  @include font(24px, 26px, $black, 400);
  font-family: $fontSecondary;
  margin: 0 0 35px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}


.contacts-form__text {
  @include font(16px, 18px, $grey-6, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
  padding: 0;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts-form__data {
  @include font(16px, 18px, $grey-6, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
  display: inline;
  border: 1px solid $platinum;
  padding: 12px 0 12px 15px;
  width: 100%;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts-form__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style-type: none;
  margin: 0 0 24px 0;
  padding: 0;
}

.contacts-form__input {
  display: flex;
  align-items: center;
  max-width: 280px;
  gap: 10px;
}

.contacts-form__img {
  content: "";
  background-image: url("../../img/email-form.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
}
