.contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    position: relative;
    z-index: 1;
    background: $grey;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 4;
    grid-area: 1 / -1;
    left: calc(50% - 653px);

    &.middle-container {
      padding: 0 40px;
    }
  }
}

.contacts__text-container {
  display: flex;
  padding: 26px 0;
  column-gap: 2px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 60px 40px 65px;
  }

  @media (min-width: $desktop-width) {
    max-width: 565px;
    gap: 87px;
    position: absolute;
    top: 65px;
    margin: 0;
    background-color: $white;
    padding: 56px 60px 56px 80px;
  }
}

.contacts__title {
  @include font(16px, 20px, $black-2, 400);
  font-family: $fontSecondary;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 171px;
  }
}

.contacts__text {
  @include font(14px, 20px, $grey-6, 400);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__texts {
  @media (min-width: $tablet-width) {
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
}


.contacts__map {
  width: 200vw;
  overflow: hidden;
}
