.contacts-form {
  border: 0;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.contacts-form__legend {
  @include font(24px, 26px, $black, 400);
  font-family: $fontSecondary;
  margin: 0 0 35px 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::after {
      content: "";
      position: absolute;
      background-color: #68b738;
      top: 21px;
      left: 109%;
      width: 100vw;
      height: 2px;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: #68b738;
      top: 21px;
      right: 105%;
      width: 100vw;
      height: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}


.contacts-form__text {
  @include font(16px, 18px, $grey-6, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
  padding: 0;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts-form__data {
  @include font(16px, 18px, $grey-6, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
  border: 1px solid $platinum;
  padding: 12px 50px 12px 15px;
  width: 100%;
  margin: 0;

  &:focus + svg {
    border-color: 2px solid $grey-6;
    stroke: $green;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      border: 1px solid $grey-3;
    }
  }
}

.contacts-form__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style-type: none;
  margin: 0 0 24px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

.contacts-form__input {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.contacts-form__img {
  position: absolute;
  right: 15px;
  stroke: $grey-7;

  @media (min-width: $tablet-width) {
    right: 18px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      stroke: $green;
    }
  }
}
