.example-cost {
  margin: 20px 0 0 0;
}

.example-cost__title {
  @include font(14px, 20px, $black, 400);
  font-family: $fontSecondary;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
