.footer {
  background-color: $grey;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 37px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.footer__logo-link {
  display: block;
  text-align: center;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
