.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $grey;
  padding: 37px 20px;
}

.footer__logo-link {
  display: block;
  text-align: center;
  margin: 0 0 20px 0;
}
