.form-radio {
  border: none;
  padding: 0 0 26px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    padding: 0;
  }
}

.form-radio__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0 0 19px 0;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    border: 1px solid $platinum;
    padding: 25px 30px 29px 28px;
    margin: 20px 0 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 100vw;
    background-color: $grey-2;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 25px;
    gap: 29px;
  }
}

.form-radio__radio {
  position: relative;
  display: inline-flex;
  column-gap: 15px;
  vertical-align: top;

  &:active {
    opacity: 0.3;
    color: rgba(34, 34, 34, 0.3);
  }

  @media (min-width: $desktop-width) {
    cursor: pointer;
  }
}

.form-radio__input {
  position: absolute;
  appearance: none;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;

  &:checked + span::before {
    background-image: url("../../img/radiobutton.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    background-position: center;
  }

  &:disabled + span {
    opacity: 0.3;
    cursor: default;
  }
}

.form-radio__control {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;

  &::before {
    content: "";
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-self: flex-start;
    flex-shrink: 0;
  }

  &:hover {
    &::before {
      border-color: rgba(186, 186, 186, 1);
    }
  }
}

.form-radio__description {
  @include font(16px, 18px, $black-2, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}


.form-radio__input:checked ~ .form-radio__control::before {
  display: block;
}
