.form-radio {
  border: none;
  padding: 0 0 26px 0;
  margin: 0;
}

.form-radio__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0 0 19px 0;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 100vw;
    background-color: $grey-2;
    transform: translateX(-50%);
  }
}

.form-radio__radio {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  column-gap: 16px;
}

.form-radio__input {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  margin: 0;
  appearance: none;
}

.form-radio__control {
  position: relative;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $grey-3;
  border-radius: 50%;

  &::before {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    content: "";
    background-color: $green;
    border-radius: 50%;
  }
}

.form-radio__description {
  @include font(16px, 18px, $black-2, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
}


.form-radio__input:checked ~ .form-radio__control::before {
  display: block;
}


.form-radio__radio:hover .form-radio__control {
  border-color: #bababa;
}
