.header {
  &--form {
    border-bottom: 1px solid $grey-5;
    margin: 0 0 27px 0;

    @media (min-width: $tablet-width) {
      border: none;
      margin: 0 0 65px 0;
    }
  }

  &--catalog {
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0 27px 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 94px;
    padding: 0 30px;
  }
}

.header__logo {
  max-width: 191px;
}

.header__logo-image {
  margin: 0 57px 0 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 10px 20px 14px;
  width: 320px;
  margin: 0 auto;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin: 0;
    padding: 0;
  }
}

.header__menu-button {
  /*background-image: url("../../img/button-rectangles.svg");*/
  background-image: url("../../img/button-cross.svg");
  background-repeat: no-repeat;
  background-color: unset;
  background-size: contain;
  background-position: 50%;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 16px;
  border: 0;
}

.header__nav {
  display: block;
  flex: 1;
}
