.header {
  &--form {
    border-bottom: 1px solid $grey-5;
    margin: 0 0 27px 0;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &--catalog {
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0 27px 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1220px;
    width: 100%;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 53px 0;
  }

  &--index {
    @media (min-width: $desktop-width) {
      max-width: 100%;
      justify-content: space-between;
      padding: 53px 0;
      margin: 0;

      &::before {
        content: "";
        position: absolute;
        background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%);
        width: 100%;
        height: 669px;
        z-index: -1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        content: "";
        background-image: url("../../img/index-img/index-bg-cat.jpg");
        background-repeat: no-repeat;
        background-position: top right;
        background-color: rgba(70, 69, 76, 1);
        background-size: 100%;
        position: absolute;
        width: 720px;
        height: 669px;
        right: 0;
        top: 0;
        z-index: -2;
      }
    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.header__logo {
  max-width: 191px;
}

.header__logo-image {
  margin: 0 57px 0 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin: 0;
    padding: 0;

    &::after {
      display: none;
    }
  }
}

.header__menu-button {
  width: 60px;
  height: 46px;
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__button {
  width: 24px;
  height: 2px;
  position: absolute;
  background-color: $black;
  top: 50%;
  left: 60%;
  transition: 0.5s;
  overflow: hidden;

  &:first-of-type {
    transform: translateX(0);
  }

  &:nth-of-type(2) {
    top: calc(50% - 5px);
    transform: rotate(0);
  }

  &:nth-of-type(3) {
    top: calc(50% + 5px);
    transform: rotate(0);
  }
}

.header__menu-button--active .header__button {
  &:first-of-type {
    transform: translateX(-260%);
  }

  &:nth-of-type(2) {
    top: 50%;
    transform: rotate(45deg);
  }

  &:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
}
