
.hero__content {
  padding: 0;
  display: grid;

  @media (min-width: $desktop-width) {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0 auto 128px;
  }
}


.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    padding: 0 0 0 151px;
    width: 100%;
    margin: -82px auto 0 auto;

    &.middle-container {
      padding: 0 30px 0 91px;
    }
  }

  @media (min-width: $desktop-width) {
    transform: translateX(-25%);
    padding: 0 0 0 84px;
    width: 100%;
    margin: -82px auto 0 auto;
    z-index: 2;
  }
}

.hero__wrapper {
  position: relative;
  background-image: url("../../img/index-img/index-bg-cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  min-height: 302px;
  padding: 0 0 150px 0;
  z-index: -2;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index-img/index-bg-cat@2x.jpg");
    background-size: 320px 302px;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
    position: absolute;
    left: 0;
    top: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    min-height: auto;
    margin: 0 0 50px 0;
    width: 100%;
    padding: 0 0 0 117px;
    row-gap: 41px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px;
    margin-bottom: 52px;
    row-gap: 40px;
    z-index: 1;
  }
}

.hero__title {
  @include font(36px, 36px, $white, 400);
  font-family: $fontSecondary;
  text-align: center;
  padding: 27px 0 26px 0;
  position: relative;
  z-index: 1;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    margin: 0;
    width: 416px;
    padding: 0;
    text-align: left;
  }
}

.hero__subtitle {
  @include font(14px, 14px, $white, 400);
  font-family: $fontSecondary;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    margin: 0;
    padding: 0 0 0 3px;
  }
}

.hero__link {
  text-align: center;
  padding: 11px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto 20px auto;

  &:active {
    background-color: $green-2;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-area: 2/-2;
    align-self: start;
    margin: 0 auto 0 121px;
    padding: 17px 20px;
    font-size: 20px;
    line-height: 20px;
    max-width: 244px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2;
    margin: -192px auto 0 80px;
  }
}

.hero__image {
  margin-top: -138px;
  margin-bottom: 3px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin: 0;
    transform: translateX(-77px);
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    transform: translateX(-80px);
  }
}
