.nav {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &--active {
    display: block;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 100vw;
    background-color: $grey-9;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.nav__link {
  @include font(20px, 20px, $black, 500);
  font-family: $fontSecondary;
  text-decoration: none;
  text-transform: uppercase;
  padding: 22px 20px 24px 20px;
  display: block;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 0 8px;

    &--active {
      border-bottom: 2px solid $green;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--white {
      color: $white;
      border-color: $white;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.nav__list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 34px;
  }
}

.nav__item {
  @media (min-width: $mobile-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 1px;
      width: 100vw;
      background-color: $grey-9;
      transform: translateX(-50%);

      &:last-child {
        position: static;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}
