.present {
  background-image: url("../../../img/catalog-img/catalog-green-bg.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
}

.present__description {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}
