.program-form {
  margin: 0 0 32px 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
  }
}

.program-form__title {
  @include font(36px, 36px, $black, 400);
  font-family: $fontSecondary;
  margin: 0 0 38px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 58px 0;
  }
}

.program-form__subtitle {
  @include font(14px, 18px, $black, 400);
  font-family: $fontSecondary;
  text-transform: uppercase;
  margin: 0 0 38px 0;
  grid-column: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
    margin-left: 2px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 63px 0;
  }
}

.program-form__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 68px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto 13px auto;
    padding: 0;
    column-gap: 80px;
  }
}

.program-form__text {
  @include font(14px, 16px, $black, 400);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 6px;
  }
}

.program-form__button {
  @include font(16px, 20px, $white, 400);
  font-family: $fontSecondary;
  display: block;
  padding: 10px 44px;
  margin: 0 0 22px 0;
  width: 100%;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 16px 20px;
    margin: 0 0 0 2px;
    max-width: 282px;
    flex: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 568px;
    padding: 16px 20px;
  }
}

.program-form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 109px 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;
    gap: 81px;
    justify-content: start;
  }
}
