@font-face {
  font-family: "Lato-Regular";
  src: url("../../fonts/lato/Lato-Regular.woff") format("woff"), url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), local("Lato-Regular");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Medium";
  src: url("../../fonts/oswald/oswaldmedium.woff") format("woff"), url("../../fonts/oswald/oswaldmedium.woff2") format("woff2"), local("Oswald-Medum");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Regular";
  src: url("../../fonts/oswald/oswaldregular.woff") format("woff"), url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), local("Oswald-Regular");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 17px 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-image {
  margin: 0 57px 0 0;
}

.nav-list__link {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav {
  display: none;
}

body {
  width: 320px;
  margin: 0 auto;
}

.container {
  min-width: 280px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Oswald-Medium", sans-serif;
  background-color: #68b738;
  text-align: center;
  padding: 8px 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../img/index-img/index-bg-cat.png");
  background-repeat: no-repeat;
}

.hero__title {
  font-family: "Oswald-Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 27px 14px 23px 17px;
  margin: 0;
  color: #ffffff;
}

.hero__subtitle {
  font-family: "Oswald-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 17px 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__link {
  text-align: center;
  padding: 11px 44px;
  width: 280px;
  margin: 0 0 20px 0;
}

.catalog-preview {
  padding: 0 10px;
}

.catalog-preview__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-preview__item {
  padding: 24px 20px 22px 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-preview__item-title {
  font-family: "Oswald-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0 52px 0 91px;
  position: absolute;
  align-self: center;
  text-transform: uppercase;
}

.catalog-preview__item-subtitle {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 19px 0;
  padding: 22px 0 23px 0;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-preview__item-link {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.about-products {
  padding: 0 10px;
}

.about-products__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.about-products__item {
  display: flex;
  gap: 20px;
}

.about-products__item:last-child {
  margin: 0 0 53px 0;
}

.about-products__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 40px 0;
  padding: 0;
}

.about-products__subtitle {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 0;
  align-self: center;
}

.example {
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;
}

.example__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 40px 0;
}

.example__subtitle {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 20px 0;
}

.example-slider__container {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example-slider__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.example-slider__subtitle {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 0 20px 0;
}

.example-cost__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 20px;
}

.example-slider {
  display: flex;
  justify-content: space-between;
}

.contacts__container {
  display: flex;
  padding: 26px 20px;
}

.contacts__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.contacts__text {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f2f2f2;
  padding: 37px 20px;
}

.social__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 24px;
  padding: 0 0 20px 0;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  margin: 0;
}

.footer__logo {
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 20px 0;
}

.footer__social {
  border-bottom: #d9d9d9;
}

.catalog__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.catalog__item-heading {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.catalog__item-terms {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__item-description {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__item-link {
  background-color: #68b738;
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 109px;
}

.catalog-add__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog-add__subtitle {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-add__show {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 10px 94px;
}

.additional__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.additional__item-heading {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional__item-terms {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional__item-description {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.present {
  background-image: url("../../../img/catalog-img/catalog-green-bg.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
}

.present__description {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

.program__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program-form__text {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.form-info__span {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-info__text {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-info__input {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-info__input::placeholder {
  opacity: 2;
  color: #444444;
}

.form-radio__span {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.contacts-info__span {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.comment-form__span {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.comment-form__description {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.extra-form__title {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.extra-form__text {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
/*# sourceMappingURL=style.css.map */