*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

